@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);


.countdownSpan {
  display: block;
  /* font-size: 17px; */

}

.countdownBody {
  text-align: center;
  color: rgb(104, 104, 104);
  line-height: 1;
  /* padding: 20px; */
  /* font-size: 40px; */
  margin: auto;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: rgb(56, 56, 56);
  text-align: center;
  /* font-size: 40px; */
}


@media screen and (max-width: 700px) {
  .countdownBody {
    /* font-size: 20px; */
  }
  .countdownBody {
    /* font-size: 30px; */
  }
  
}